.rice-card {
  width: 25%; /* Adjust width to fit 4 cards in a row considering the gap */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: rgb(191, 255, 52);
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  max-height: 400px;
}

.allDetailsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: rgb(68, 95, 11); */
}

.detailTitle {
  font-weight: bold;
  margin: 0;
  font-size: 20px;
}

.detailValue {
  font-weight: normal;
  font-size: 26px;
  margin: 0;
}

.addButton {
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  cursor: pointer;
}

.moreOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.optionsButtonContainer {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.count {
  font-weight: bold;
  font-size: 30px;
}

.countButton {
  background-color: rgb(23, 23, 23);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 30px;
  height: 50px;
  width: 100px;
  cursor: pointer;
}

.typeButton {
  background-color: rgb(52, 52, 52);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(199, 199, 199);
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.selectedBtn {
  background-color: rgb(42, 255, 92);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

.submitButton {
  background-color: rgb(42, 255, 92);
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 100%;
  cursor: pointer;
}
